{% extends "SadiantCmsBundle::layout.html.twig" %}

{% set body_class = 'reversed edit_personal_preferences' %}
{% set tab = 'settings' %}
{% set nav = 'personal' %}

{% block page_title "Preferences" %}

{% block content %}
  <h1>{% trans %}Personal Preferences{% endtrans %}</h1>
{% endblock %}
