imports:
    - { resource: parameters.yml }
    - { resource: security.yml }

framework:
    secret:          %secret%
    charset:         UTF-8
    router:          { resource: "%kernel.root_dir%/config/routing.yml" }
    form:            true
    csrf_protection: true
    validation:      { enable_annotations: true }
    templating:      { engines: ['twig'] } #assets_version: SomeVersionScheme
    default_locale:  %locale%
    session:
        auto_start:     true

# Twig Configuration
twig:
    debug:            %kernel.debug%
    strict_variables: %kernel.debug%

# Doctrine Configuration
doctrine:
    dbal:
        driver:   %database_driver%
        host:     %database_host%
        dbname:   %database_name%
        user:     %database_user%
        password: %database_password%
        charset:  UTF8
        path:     %kernel.cache_dir%/%database_name%.db

    orm:
        auto_generate_proxy_classes: %kernel.debug%
        mappings:
            TheodoRogerCmsBundle: ~
            StofDoctrineExtensionsBundle: false # The mapping is only needed when using the Translatable or the Loggable behaviors


stof_doctrine_extensions:
    default_locale: en_US
    orm:
        default:
            timestampable: true