# Vendors
Fixtures/Symfony/vendor/*
Fixtures/Symfony/app/cache/*
Fixtures/Symfony/app/logs/*
Fixtures/Symfony/vendor/*
Fixtures/Symfony/web/bundles/*
Fixtures/Symfony/app/bootstrap_cache.php.cache

# PHPUnit special files
phpunit.xml
undercontrol.xml
clover.xml
clover.html

# Doctrine backup files 
*.php~

# Cache
Tests/cache
Tests/logs
Tests/autoload.php

# Filesystem
.DS_Store

# IDES
.nbproject
.idea
