# Vendors
vendor/symfony
vendor/doctrine
vendor/doctrine-common
vendor/doctrine-dbal
vendor/doctrine-fixtures
vendor/twig
vendor/bundles
vendor/gedmo-doctrine-extensions

# PHPUnit special files
phpunit.xml
undercontrol.xml
clover.xml
clover.html

# Doctrine backup files 
*.php~

# Cache
Tests/cache
Tests/logs

# Filesystem
.DS_Store

# IDES
.nbproject
.idea
