# Vendors
vendor

#Composer
composer.phar

# PHPUnit special files
phpunit.xml
undercontrol.xml
clover.xml
clover.html

# Doctrine backup files 
*.php~

# Cache
Tests/Fixtures/app/cache
Tests/Fixtures/app/logs
Tests/autoload.php

# Filesystem
.DS_Store

# IDES
.nbproject
.idea
