language: php
php:
  - 5.3
#  - 5.4 # Something weird append with this version of php
before_script:
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install
  - php composer.phar install --dev

