{% extends "SadiantCmsBundle::layout.html.twig" %}

{% set tab = 'design' %}
{% set nav = 'snippets' %}

{% block page_title "Snippets" %}

{% block content %}
<div class="outset">
    <table class="index" id="snippets">
        <thead>
            <tr>
                <th class="snippet">{% trans %}Snippet{% endtrans %}</th>
                <th class="modify">{% trans %}Modify{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for snippet in snippets %}
            <tr class="node level_1">
                <td class="snippet">
                    <img alt="" src="/bundles/sadiantcms/images/admin/snippet.png" />
                    <span>
                      <a href="{{ url('snippet_edit', { 'id': snippet.id }) }}">{{ snippet.name }}</a>
                    </span>
                </td>
                <td class="remove">
                    <a href="{{ url('snippet_remove', { 'id': snippet.id }) }}">Remove</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div id="actions">
    <ul>
        <li>
          <a id="new-snippet" href="{{ url('snippet_new') }}">
            <img alt="Plus" src="/bundles/sadiantcms/images/admin/plus.png" /> New Snippet</a>
        </li>
    </ul>
</div>
{% endblock %}