{% extends roger_admin_layout %}

{% set tab = 'design' %}
{% set nav = 'layouts' %}

{% block page_title %}
{% trans %}Remove Layout{% endtrans %}
{% endblock %}

{% block cmscontent %}
<h1>{% trans %}Remove Layout{% endtrans %}</h1>
<p>{% trans %}Are you sure you want to <strong class="warning">permanently remove</strong> the following layout?{% endtrans %}</p>
<table class="index" id="layouts">
    <tbody>
        <tr class="node level_1">
            <td class="layout">
                <img alt="" src="{{ asset('bundles/theodorogercms/images/admin/roger_layout.png') }}" />
                <span class="title">{{ layout.name }}</span>
            </td>
        </tr>
    </tbody>
</table>
<form action="{{ url('layout_remove', { 'id': layout.id }) }}" method="post" class="edit_layout">
    <p class="buttons">
        <input class="button" type="submit" value="{% trans %}Delete Layout{% endtrans %}" />
        {% trans %}or{% endtrans %}
        <a href="{{ url('layout_list') }}">{% trans %}Cancel{% endtrans %}</a>
    </p>
</form>
{% endblock %}