imports:
    - { resource: parameters.ini }
    - { resource: config_dev.yml }

framework:
    test: ~
    csrf_protection: true
    session:
        storage_id: session.storage.filesystem

web_profiler:
    toolbar: false
    intercept_redirects: false

swiftmailer:
    disable_delivery: true

# Doctrine Configuration
doctrine:
    dbal:
        driver:   %database_driver%
        host:     %database_host%
        dbname:   %test_database_name%
        user:     %database_user%
        password: %database_password%
        charset:  UTF8
