{% extends "TheodoThothCmsBundle::layout.html.twig" %}

{% set tab = 'content' %}
{% set nav = 'pages' %}

{% block page_title "Remove Pages" %}

{% block cmscontent %}
<h1>{% trans %}Remove{% endtrans %} {{page.name}}</h1>
<p>{% trans %}Are you sure you want to <strong class="warning">permanently remove</strong> the following pages?{% endtrans %}</p>

<div class="inset">
    {% render "TheodoThothCmsBundle:Backend\\Page:siteMapComponent" with {'from_id': page.id} %}
</div>

<form class="edit_page" action="{{ url('page_remove', {'id' : page.id}) }}" method="post">
    <p class="buttons">
        <input class="button" type="submit" value="{% trans %}Delete{% endtrans %}" />
        {% trans %}or{% endtrans %}
        <a href="{{ url('page_list') }}">{% trans %}Cancel{% endtrans %}</a>
    </p>
</form>
{% endblock %}
