{% extends roger_admin_layout %}
{% set tab = 'content' %}
{% set nav = 'medias' %}

{% block page_title %}
{% trans %}Remove Media{% endtrans %}
{% endblock %}

{% block cmscontent %}
<h1>{% trans %}Remove Media{% endtrans %}</h1>
<p>{% trans %}Are you sure you want to <strong class="warning">permanently remove</strong> the following media?{% endtrans %}</p>
<table class="index" id="medias">
    <tbody>
        <tr class="node level_1">
            <td class="media">
                <img alt="" src="{{ asset('bundles/theodorogercms/images/admin/roger_media.png') }}" />
                <span class="title">{{ media.name }}</span>
            </td>
        </tr>
    </tbody>
</table>
<form action="{{ url('media_remove', { 'id': media.id }) }}" method="post" class="edit_media">
    <p class="buttons">
        <input class="button" type="submit" value="{% trans %}Delete Media{% endtrans %}" />
        {% trans %}or{% endtrans %}
        <a href="{{ url('media_list') }}">{% trans %}Cancel{% endtrans %}</a>
    </p>
</form>
{% endblock %}