<h1>Layouts</h1>
<a href="{{ url('layout_new') }}">Niou</a>
<ul>
    {% for layout in layouts %}
    <li>
        <a href="{{ url('layout_edit', { 'id': layout.id }) }}">{{ layout.name }}</a>
    </li>
    {% endfor %}
</ul>
<a href="{{ url('layout_new') }}">Niou</a>
The End