{% extends "SadiantCmsBundle::layout.html.twig" %}

{% block javascripts_assets %}
<script src="{{ asset('bundles/sadiantcms/js/page.js') }}" type="text/javascript"></script>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/sadiantcms/css/page.css') }}" type="text/css" media="all" />
{% endblock %}

{% set tab = 'content' %}
{% set nav = 'pages' %}

{% block page_title "Pages" %}

{% block content %}
    <div class="outset">
        <table class="index" id="site_map" summary="{% trans %}Page hierarchy of the current site{% endtrans %}">
            <thead>
                <tr>
                    <th class="page">{% trans %}Page{% endtrans %}</th>
                    <th class="status">{% trans %}Status{% endtrans %}</th>
                    <th class="modify" colspan="2">{% trans %}Modify{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
            {% include "SadiantCmsBundle:Page:page-list.html.twig" with {'pages': pages, 'level' : 0} %}
            </tbody>
        </table>
    </div>
{% endblock %}
