{% extends "SadiantCmsBundle::layout.html.twig" %}

{% block page_title "Pages" %}

{% block content %}
  <div>
    <h1>{% trans %}Pages{% endtrans %}</h1>

    <ul id="page-list">
      {% for page in pages %}
      <li>
        {% include "SadiantCmsBundle:Page:page-row.html.twig" %}

        <ul>
          {% for child in page.children %}
            <li>
              {% include "SadiantCmsBundle:Page:page-row.html.twig" with {'page': child} %}
            </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
