{% extends "SadiantCmsBundle::layout.html.twig" %}

{% block page_title "Pages" %}

{% block content %}
    <div class="outset">
        <table class="index" summary="{% trans %}Page hierarchy of the current site{% endtrans %}">
            <thead>
                <tr>
                    <th class="page">{% trans %}Page{% endtrans %}</th>
                    <th class="status">{% trans %}Status{% endtrans %}</th>
                    <th class="modify" colspan="2">{% trans %}Modify{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
            {% for page in pages %}
                {% include "SadiantCmsBundle:Page:page-row.html.twig" with {'page': page, 'level': 0} %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
