{% extends "TheodoThothCmsBundle::layout.html.twig" %}

{% set tab = 'design' %}
{% set nav = 'snippets' %}

{% block page_title %}
{% trans %}Remove Snippet{% endtrans %}
{% endblock %}

{% block content %}
<h1>{% trans %}Remove Snippet{% endtrans %}</h1>
<p>{% trans %}Are you sure you want to <strong class="warning">permanently remove</strong> the following snippet?{% endtrans %}</p>
<table class="index" id="snippets">
    <tbody>
        <tr class="node level_1">
            <td class="snippet">
                <img alt="" src="{{ asset('bundles/theodothothcms/images/admin/thoth_snippet.png') }}" />
                <span class="title">{{ snippet.name }}</span>
            </td>
        </tr>
    </tbody>
</table>
<form action="{{ url('snippet_remove', { 'id': snippet.id }) }}" method="post" class="edit_snippet">
    <p class="buttons">
        <input class="button" type="submit" value="{% trans %}Delete Snippet{% endtrans %}" />
        {% trans %}or{% endtrans %}
        <a href="{{ url('snippet_list') }}">{% trans %}Cancel{% endtrans %}</a>
    </p>
</form>
{% endblock %}