<ul id="navigation">
    <li class="current ">
        <a href="/admin/pages">Content</a>
        <ul id="nav_sub">
            <li>
                <a class="current" href="/admin/pages">
                    <span>Pages</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="/admin/layouts">Design</a>
    </li>
    <li class="">
        <a href="/admin/preferences">Settings</a>
    </li>
</ul>